/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
html {
  scroll-behavior: smooth;
}
.scroll_indicator{
  width: 0;
  animation: scroll_progress_bar linear;
  animation-timeline: scroll();
}

@keyframes scroll_progress_bar{
  to{
    width: 100%;
  }
}